:root {
  --borderColor: #eee;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control {
  border-color: var(--borderColor);
}

.pointable {
  cursor: pointer;
}

.selectable:hover {
  background-color: rgba(0, 0, 0, .1);
}

.selected {
  background-color: rgba(0, 0, 0, .1) !important;
}

.sidebar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid var(--borderColor);
}

.sidebarHeader {
  text-transform: capitalize;
  background-color: #f1f1f1;
  padding: 7px 15px;
  font-weight: bold;
}

.sidebarListItem {
  padding: 7px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageHeaderContainer {
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--borderColor);
  margin-bottom: 10px;
}

.pageHeader {
  font-weight: 400;
}